bakalarka.aux
bakalarka.idx
bakalarka.lof
bakalarka.log
bakalarka.lot
bakalarka.out
bakalarka.bbl
bakalarka.bcf
bakalarka.blg
bakalarka.tex~
bakalarka.te~
bakalarka.synctex.gz
bakalarka.toc
notes.txt
notes.txt~
.gitignore~

