*
!bakalarka.pdf
!bakalarka.tex
!bibliography.bib
!bakalarka.odt
!resources/hromadne_upravy.png
!resources/katalogizacni_editor.png
!resources/objednavka.png
!resources/vypujcky.png
!resources/vysledky_vyhledavani_autorit.png
!resources/zadavani_autorit.png

